CaptionForce/force-app/main/default/flows/Create_Multiple_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Contract_to_Collection</name>
        <label>Add Contract to Collection</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>contractCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Caption_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Services_to_Collection</name>
        <label>Add Services to Collection</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ServiceSetsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Caption_Services</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_More</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Contract_0</name>
        <label>Create Contract</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>newContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContract.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contract_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_More</name>
        <label>Create more?</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_All_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Another.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Contract_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Accounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>selectedAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaptionServicesPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Services__c</picklistField>
        <picklistObject>CaptionService__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Multiple Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Multiple Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_All_Contracts</name>
        <label>Create All Contracts</label>
        <locationX>308</locationX>
        <locationY>878</locationY>
        <inputReference>contractCollection</inputReference>
    </recordCreates>
    <screens>
        <name>Get_Contract_Info</name>
        <label>Get Contract Info</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contract_0</targetReference>
        </connector>
        <fields>
            <name>Get_Accounts</name>
            <choiceReferences>Accounts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <dateValue>2022-01-01</dateValue>
            </defaultValue>
            <fieldText>Contract Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Term</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Contract Term (months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Caption_Services</name>
        <label>Select Caption Services</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Services_to_Collection</targetReference>
        </connector>
        <fields>
            <name>Caption_Services</name>
            <choiceReferences>CaptionServicesPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Caption Services</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_Another</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create another?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contractCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractObjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>newCaptionService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaptionService__c</objectType>
    </variables>
    <variables>
        <name>newContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>selectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ServiceSetsCollection</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
