Project1/force-app/main/default/flows/Create_Many_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add_To_Collection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>All_Contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Hero_Info.Create_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_We_Loop_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Loop_Or_Not</name>
        <label>Loop_Or_Not</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_All_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Loop</defaultConnectorLabel>
        <rules>
            <name>Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Another_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Hero_Info</targetReference>
            </connector>
            <label>Loop</label>
        </rules>
    </decisions>
    <interviewLabel>Create_Many_Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Many Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_All_Contacts</name>
        <label>Create_All_Contacts</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <faultConnector>
            <targetReference>Fault_screen1</targetReference>
        </faultConnector>
        <inputReference>All_Contacts</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Do_We_Loop_Screen</name>
        <label>Do_We_Loop_Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Or_Not</targetReference>
        </connector>
        <fields>
            <name>Create_Another_Contact</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create Another Contact?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_screen1</name>
        <label>Fault_screen1</label>
        <locationX>572</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_header1</name>
            <fieldText>&lt;p&gt;An error occurred&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fault_info_1</name>
            <fieldText>&lt;p&gt;The error was: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hero_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Hero_Info</name>
        <label>Get Hero Info</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
        <flowName>Get_Contact_Inputs</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>All_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
